// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #E7BB41;
$orange: #E67E22;
$green: #15E9A6;
$flash-green: #13EA6E;
$gray: #393E41;
$light-gray: #E7E5DF;
$task-gray: #F7F2F2;
$blue: #4F86C6;
$red: red;
$orange: orange;
$flash-green: #13EA6E;
