/* Big divs */

.container-dashboard {
  margin: auto 100px;
  background: white;

}

.dashboard-container {
  display: flex;
  flex-direction: column;
  color: #393E41;
  h3 {
    font-size: 35px;
    // color: #393E41;
  }
}

.top-dashboard {
    display: flex;
    margin-top : 30px;
    justify-content: space-around;
    // min-height: 500px;
}

.left-side-dashboard {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 30px;
}

// gamer status
.welcome-heading {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: space-between;
  background-color: #FCE76C;
  border-radius: 5px;
  box-shadow: 1px 1px 20px #E7BB41;
  margin-bottom: 30px;
}

.welcome-title {
  margin-left: 20px;
}

.player-badges {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
}
.no-padding-left {
  padding-left: 0 !important;
}

span.status-points {
  font-weight: bolder;
  font-size: 20px;
}
.status-message {
  flex: 0 0 25%;
}


.player-stats {
  flex: 0 0 25%;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.points {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
    color: #697277;
    justify-content: center;
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  // position: relative;
  // margin-top: 30px;
}

#counter_tasks span {
  padding-left: 0 !important;
}

.counter_points {
  // display: inline-block;
  vertical-align: middle;
  line-height: normal;
  // position: absolute;
  bottom: 30%;
  right: 20%;
  font-size: 25px;
  font-family: "Paytone One", "sans-serif";
  padding-left: 0 !important;
}

.points-element {
  padding-left: 0;
  font-size: 15px;
}

.player-bages-dashboard {
      display: flex;
    flex: 0 0 50%;
    justify-content: space-around;
}

// .points-circle {
//   height: 100px;
//   width: 150px;
//   border-radius: 5%;
//   // background-color: $yellow;
//   // background: linear-gradient(0.9turn, $flash-green, $green);
//   // padding-left: 30px;
//   text-align: center;
//   padding-top: 20px;
//   // margin-top: 20px;
//   box-shadow: 1px 1px 6px #E7BB41;
//   border: solid #E7BB41;
//   background-color: white;
// }


// tasks

.task-message {
  flex: 0 0 60%;
}

.top-tasks {
      display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-badges {
  display: flex;
}

.tasks-badges-element {
      background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-task-title {
  margin-bottom: 10px;
}

.user-tasks.inner-padding {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(21, 233, 166, 40%);
}

.task-list {
  display: flex;
    flex-wrap: wrap;

}

.task-title-card {
  width: calc(50% - 5px);
  box-shadow: 0px 0px 5px rgba(21, 233, 166, .3);
  margin-bottom: 15px;
  border-bottom: solid $green 5px;
  padding-top: 5px;
  &:nth-of-type(2n+1) {
    margin-right: 10px;
  }
}

.span-paytone {
  font-size: 18px;
  padding-left: 7px;
  font-family: "Paytone One", "sans-serif";
}


.card-task {
  padding: 7px;
  border-radius: 4px;
  z-index: 100;
  h3 {
    margin: 0;
  }
}

.card-item {
      display: flex;
    /* padding: 2px; */
    align-items: center;
    justify-content: space-around;
    /* width: 96%; */
    /* height: 65px; */
    padding: 5px;
    border-radius: 5px;
    background-color: #F7F2F2;
    cursor: pointer;

  p {
    margin: 0 20px;
    line-height: 1;
    font-size: 14px;
    font-weight: lighter;
  }
}

.plant-quantity  {
  color: $green;
  font-weight: bolder;
  font-size: 20px;
  padding-left: 0;
}
.pot-name  {
  font-weight: bolder;
  font-size: 16px;
  padding-left: 0;
  font-family: "Paytone One", "sans-serif";
}
.task-picto {
  height: 40px;
}

.card-message {
  background: linear-gradient(0.9turn,$flash-green, $green);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  height: 15px;
  margin-top: 15px;
}

// ranking
.user-ranking {
  // background-color: $light-gray;
  // height: 130%;
  // margin-left: 30%;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 1px 1px 20px #15e9a6;
  // box-shadow: 1px 1px 20px $yellow;
  position: sticky;
  top: 25px;
  width: 30%;
  height: min-content;

  h3 {
    // color: black;
    text-align: center;
    padding-bottom: 5px;
    font-size: 30px;
  }
}

.ranking-table {
  line-height: 1.2;
  // border: 2px solid;
  // color: red;
  // width: 100%;
  // height: 200px;
  display: flex;
  flex-direction: column;
}


.user-garden {

  padding-left: 20px;
  display: block;
  margin-top: 40px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 20px #15e9a6;

  .item-border-green {
    justify-content: center;
    display: flex;
    margin-bottom: 100px;


    .add-button {
      margin-bottom: 30px;
      text-align: center;
      position: absolute;
      bottom: 53%;
      right: 10%;
    }
  }
}

a {
  text-decoration: none;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* For positionning badge */
.task-title-badge {
    display: flex;
    justify-content: space-between;
    ALIGN-ITEMS: center;
}

.task-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.late-date {
      font-size: 12px;
    background-color: #E7BB41;
    color: white;
    font-weight: bold;
    padding-left: 4px;
    border-radius: 3px;
    padding-right: 4px;
    margin-top: -5px;
}

.avatar-date {
  display: flex;
    flex-direction: column;
    align-items: center;
}
// ne permet pas de faire un beau score

// .user-ranking {
//   padding-left: 30px;
// }
.image-height-300 {

position: relative;

img {
  height: 300px;
}
}


.white-square {
  width: 80px;
  height: 20px;
  background-color: white;
  position: absolute;
  bottom: -7px;
  right: 161px;
}

