/* Big divs */

.top-dashboard {
    display: flex;
}

.container-dashboard {
  margin: auto 100px;
  background: white;

  h3 {
    font-size: 40px;
  }
}

.welcome-heading {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;

  .points {
   color: white;
  padding: 0px 30px;
  position: relative;
  margin-top: 30px;


    #counter_points {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      position: absolute;
      bottom: 30%;
      right: 20%;
      font-size: 25px;
    }
  }

  .points-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: linear-gradient(0.9turn, $flash-green, $green);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 30px;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    box-shadow: 0 0 6px rgba(130, 130, 130, 0.3);
  }

}

.top-dashboard {
  // display: flex;

  .card-task {
    padding-top: 15px;
    h3 {
      padding: 5px 10px 10px
    }

    .card-task-items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      text-align: left;
      font-size: 14px;
      .card-item {
        display: flex;
        padding: 2px;
        align-items: center;
        justify-content: space-around;
        width: 96%;
        height: 65px;
        margin: 1%;
        border-radius: 2px;
        background-color: $task-gray;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.05);
        p {
          margin: 0 20px;
          line-height: 1;
        }
        .plant-quantity {
          color: $green;
          font-weight: bolder;
          font-size: 28px;
        }
        .pot-name {
          font-weight: bolder;
          font-size: 21px;
        }
        .task-picto {
          height: 40px;
        }
      }
    }
    .card-message {
      background: linear-gradient(0.9turn,$flash-green, $green);
      border-radius: 0px 0px 4px 4px;
      width: 100%;
      height: 15px;
      margin-top: 15px;
    }
  }
}


.user-ranking {

  border: 2px solid;
  color: red;
  width: 100%;
  height: 200px;
}

.user-garden {
  display: block;
  .item-border-green {
    justify-content: center;
    display: flex;
    margin-bottom: 100px;
  }
}




a {
  text-decoration: none;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* For positionning badge */
.task-title-badge {
  position: relative;

  .task-badge {
    position: absolute;
    top: -20px;
    right: -25px;
  }
}


