/* Big divs */

.top-dashboard {
    display: flex;
}

.container-dashboard {
  margin: auto 100px;
  background: white;

  h3 {
    font-size: 40px;
  }
}

.welcome-heading {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}

.points {
  color: white;
  padding: 0px 30px;
  position: relative;
  margin-top: 30px;
}


#counter_points {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  position: absolute;
  bottom: 30%;
  right: 20%;
  font-size: 25px;
}


.points-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: linear-gradient(0.9turn, $flash-green, $green);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 30px;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  box-shadow: 0 0 6px rgba(130, 130, 130, 0.3);
}

.user-tasks.inner-padding {
  display: flex;
  flex-wrap: wrap;
}

.task-title-card {
  width: 48%;
  margin: 1%;
  box-shadow: 0px 0px 5px rgba(21, 233, 166, .3);

}

.span-paytone {
  font-size: 18px;
  padding-left: 7px;
  font-family: "Paytone One", "sans-serif";

  }


.card-task {
  padding: 7px;
  border-radius: 4px;

  h3 {
    margin: 0;
  }
}

.card-item {
  display: flex;
  padding: 2px;
  align-items: center;
  justify-content: space-around;
  width: 96%;
  height: 65px;
  margin: 1%;
  border-radius: 2px;
  background-color: $task-gray;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  p {
    margin: 0 20px;
    line-height: 1;
  }
}

.plant-quantity {
  color: $green;
  font-weight: bolder;
  font-size: 28px;
}
.pot-name {
  font-weight: bolder;
  font-size: 21px;
}
.task-picto {
  height: 40px;
}

.card-message {
  background: linear-gradient(0.9turn,$flash-green, $green);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  height: 15px;
  margin-top: 15px;
}




.user-ranking {
  background-color: $light-gray;
  height: 100%;
  width: 60%;
  margin-left: 25%;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 1px 1px 20px rgba(211,138,232,0.7);

  h3 {
    color: black;
    text-align: center;
    padding-top: 10px;
  }
}

.ranking-table {
  line-height: 1.2;
  // border: 2px solid;
  // color: red;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
}


.user-garden {
  display: block;
  .item-border-green {
    justify-content: center;
    display: flex;
    margin-bottom: 100px;
  }
}

a {
  text-decoration: none;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* For positionning badge */
.task-title-badge {
  position: relative;
}

.task-badge {
  position: absolute;
  top: -20px;
  right: -18px;
}
// ne permet pas de faire un beau score

// .user-ranking {
//   padding-left: 30px;
// }

