.pot-content {
  color: $black;
  display: flex;
  align-items: center;
  padding: 0px;
  height: 700px;

}

.link-flex-end {
  bottom: 300px;
  left: 30px;
}

.pot-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 0 0 40%;
  padding-left: 20px;
  height: 95%;

}

.image-links {
    flex: 0 0 10px;
}


.pot-info {
    flex: 0 0 60%;
    padding-left: 40px;
    padding-right:40px ;
    height: 95%;
}

.header {
  top: 60px;

  a {
    position: absolute;
    right: 26px;
    top: 23px;
  }

  h3 {
  font-size: 50px;
  color: $yellow;
  margin: 0px;

  }
}

.recap {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FCE76C;
  border-radius: 5px;
  box-shadow: 1px 1px 20px #E7BB41;


  p {
    font-size: 14px;
    flex: 0 0 60%;
    padding-left: 5px;
    color: black
  }
}

.recap-item {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center
}

.border-right {
  border-right: solid 1px rgba(255, 255, 255, 0.8);
  padding-right: 15px;

}

.action-date {
  font-size: 15px;
}


.about_the_pot {
  border-radius: 10px;
  font-size: 16px;
  font-style: italic;

  p {
    margin: 0px;
  }
}

.plant-info {
  line-height: 1;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }

  h3 {
    font-size: 30px;
    color: $green;
  }

  h4 {
    font-size: 20px;
  }
}

.fa-trash {
  color: $gray;
  // position: relative;
  top: 320px;
  right: 50px;
}



.btn-minimal:hover p {
  color: $green;
}

.btn-minimal p {
  margin: 0px;
}
.border-top {
  border-bottom: solid 4px $gray;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 120px;
}

.border-top-small {
  border-bottom: solid 4px $gray;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70px;
}

.show-task-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.show-task-item {
  display: flex;
  margin-left: 50px;
  align-items: center;
}

.circle-full {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: black;
  margin: 0 20px;
  z-index: 1;

}

.circle-border {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid 3px black;
    margin: 0 20px;
    position: relative;
    z-index: 1;


}

.action-date {
    margin: 0;
    font-size: 18px;
}

.date {
  margin-bottom: 10px;
}

.follow-up-card {
  padding-bottom: 20px;

 }

.gray-line {
  width: 6px;
  height: 43px;
  background: #E7E5DF;
  position: absolute;
  top: 17px;
  right: 4px;
}


// p.show-task-item {
//   font-size: 18px;

// }
