.pot-content {
  color: $black;
  display: flex;
  padding: 0px;
}

.link-flex-end {
  bottom: 300px;
  left: 30px;
}

.pot-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 0 0 40%;
  min-height: 708px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}



.pot-info {
    flex: 0 0 60%;
    padding-left: 40px;
    padding-right:40px ;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;

  // a {
  //   position: absolute;
  //   right: 73px;
  //   top: 23px;
  // }

  h3 {
  font-size: 50px;
  color: $yellow;
  margin: 0px;

  }
}

.recap {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FCE76C;
  border-radius: 5px;
  box-shadow: 1px 1px 20px #E7BB41;
  max-height: 115px;


  p {
    font-size: 14px;
    flex: 0 0 60%;
    padding-left: 5px;
    color: black;
    padding-right: 5px;

  }
}

.recap-item {
  display: flex;
  flex: 1 0 33%;
  padding: 10px;
  justify-content: space-between;
  align-items: center
}

.border-right {
  border-right: solid 1px rgba(255, 255, 255, 0.8);
  padding-right: 15px;

}

.action-date {
  font-size: 15px;
}


.about_the_pot {
  border-radius: 10px;
  font-size: 16px;
  font-style: italic;

  p {
    margin: 0px;
  }
}

.plant-info {
  line-height: 1;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }

  h3 {
    font-size: 30px;
    color: $green;
  }

  h4 {
    font-size: 20px;
  }
}

.fa-trash {
  color: $gray;
  // position: relative;
  top: 320px;
  right: 50px;
}

.btn-minimal:hover p {
  color: $green;
}

.btn-minimal p {
  margin: 0px;
}

.border-top {
  border-bottom: solid 4px $gray;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 120px;
}

.border-top-small {
  border-bottom: solid 4px $gray;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70px;
}

.show-task-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.show-task-item {
  display: flex;
  margin-left: 50px;
  align-items: center;
}

.circle-full {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: black;
  margin: 0 20px;
  z-index: 1;

}

.circle-border {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid 3px black;
    margin: 0 20px;
    position: relative;
    z-index: 1;
}

.action-date {
    margin: 0;
    font-size: 18px;
}

.date {
  margin-bottom: 10px;
}



.gray-line {
  width: 6px;
  height: 43px;
  background: #E7E5DF;
  position: absolute;
  top: 17px;
  right: 4px;
}

.icons {
  border-radius: 50%;
}

.padding-right {
  padding-right: 15px;
}

.icons-task {
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(21, 233, 166, 0.3);
}

.show-task-title-card-hearder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

/* For plant show */

.plant_info {
  .plant-details {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding-left: 15px;
    justify-content: space-evenly;
  }
  h4 {
    font-size: 18px;
    font-family: "Paytone One", "sans-serif";
  }
  .icons-task {
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(21,233,166,0.3);
  }
}

  .show-task-title-card-hearder {
    display: flex;
    justify-content: space-between;

    .padding-right {
      padding-right: 15px;
    }
  }

  .container-show {
    padding-left: 0;
  }

  .plant-image {
    min-height: 581px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 0 0 40%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    img {

    }
  }
