.wrapper-plant {
  height: 100vh;
  width: 100%;
  background-image: asset-url("plants.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  margin: 0px;
  position: absolute;
}

.pot {
  // background-color: #E7E5DF;
  background-color: white;
  width: 80%;
  position: relative;
  top: 50px;
  height: 80vh;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  // margin: 20px 20px;
  padding: 0px;
  border-radius: 10px;
}

.pot-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 80vh;
}

.pot-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 0 0 30%;
  margin-left: 20px;

  img {
    max-height: 75vh;
  }

}

.pot-info {
  right: 20px;
  flex: 0 0 60%;

}


