
<div class="cards-selection">
  <div class="row">
    <% elements.sample(3).each do |element| %>
      <div class="col-xs-12 col-md-4">
        <!-- be careful with the path -->
        <%= link_to pot_path(element) do %>
          <%= render "shared/card", element: element %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
