
<div class="cards-selection">
  <div class="row">
    <% users.each do |user| %>
      <div class="col-xs-12 col-md-4">
        <!-- be careful with the path -->

          <%= render "shared/card", element: user.pots.first, select: false %>

      </div>
    <% end %>
  </div>
</div>
