
  <div class="points">
    <%= image_tag("points_icon.png", size: 35) %>
    <span class="counter_points"><%= user.points %></span><span  class="points-element"><%= "point".pluralize(user.points) %></span>
  </div>
