
  <div class="points">
    <%= image_tag("star.ico", class: "icon-avatar") %>
    <span class="counter_points"><%= user.points %></span><span  class="points-element"><%= "point".pluralize(user.points) %></span>
  </div>
