<div>
  <% @users.order %>
  <table>
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">User Name</th>
        <th scope="col">Points</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.first(10).each do |user| %>
      <% i = 0 %>
        <tr>
          <%= (i += 1) %>
        </tr>
        <tr>
          <%= user.first_name %>
        </tr>
        <tr>
          <%= user.count_points %>
        </tr>
        <tr>
          <% photo = user.photo unless user.photo.nil? %>
          <%= cl_image_tag(photo, class: "avatar") %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
