<div class="pot-tasks">
  <% element.tasks.each do |task| %>
    <% if element.incomplete_task(task.name) %>
      <p><%= element.name %> needs <%= task.name %></p>
      <%#= simple_form_for(element.incomplete_task("watering")) do |f| %>
      <%= simple_form_for(element.incomplete_task(task.name), :defaults => { :input_html => { :class => "sweet-alert-demo" } }, remote: true) do |f| %>
        <%= f.input :completed %>
      <% end %>
    <% end %>
  <% end %>
</div>
