<div class="task-card">
  <!-- <div class="title">
    <h2> 😘 Hey your <span id="plant-color-name"><%#= element.name %></span> needs love !</h2>
  </div> -->
  <% pot.tasks.each do |task| %>
    <% if pot.incomplete_task(task.name) %>
    <!-- <p>🤟 Hey, give <span="plant-integer"><%#= task.pot.plant.watering_quantity %></span> cl to <span="plant-name"><%#= element.name%></span></p> -->
      <div class="task-elements">
        <div class="task-description">
          <%= simple_form_for(pot.incomplete_task(task.name), :defaults => { :input_html => { :class => "sweet-alert-demo" } }, remote: true) do |f| %>
            <div class="task-content" data-points="<%= task.points %>">
              <table class="task-position">
                <tr>
                  <td>
                    <div class="status">
                      <%= f.input :completed, label: "  I did it" %>
                      <%= f.submit :update, class: "hidden submit-task" %>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    <% end%>
  <% end %>
</div>
