<!-- gather all the pots needing to perform the task
tasks
task.pot -->
<% tasks.each do |task| %>
  <div class="card-task">
    <div class="card-task-items">
      <div class="card-item">
        <%= cl_image_tag(task.pot.photo, class: 'plant-avatar') %>
        <p> Hey, give <span class='plant-quantity'>10cl</span><br>to <span class='pot-name'><%= task.pot.name.capitalize %></span></p>
        <%= image_tag "picto-check.svg", class: 'task-picto' %>
      </div>
    </div>
  </div>
<% end %>


