<div class="container">
  <div class="row">
    <% @pots.each do |pot| %>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <%= pot.name %>
          <%= pot.photo %>
        </div>
      </div>
    <% end %>
  </div>
</div>

