<div class="container">
  <div class="row">
    <% @pots.each do |pot| %>
      <div class="col-xs-12 col-md-4">
        <%= render "shared/card", element: pot %>
        <%= link_to "", pot_path(pot), class: "card-link" %>
      </div>
    <% end %>
  </div>
</div>

