<div class="wrapper wrapper-color">
  <div class="container container-gray full-screen">
    <div id="dashboard-content" class="wrapper-dashboard">
     <%= render "dashboard-container", user: @user, pots: @pots %>
    </div>
   </div>
</div>
