<div class="wrapper wrapper-color">
  <div class="container container-gray">
    <div class="big-header">
      <h1>NEVER SAY GOODBUY TO YOUR PLANT</h1>
    </div>
    <div class="home-image">
      <img src="https://www.ourhouseplants.com/imgs-site/houseplant-pot-footer.png" alt="cactus">
    </div>
  </div>

</div>
