<div class="container">
  <h1>Welcome to plants index</h1>
  <%= render "shared/search" %>
  <div class="row">
    <% @plants.each do |plant| %>
      <div class="col-xs-12 col-md-4">
        <%= render "shared/card", element: plant %>
        <%= link_to "", plant_path(plant), class: "card-link" %>
      </div>
    <% end %>
  </div>
</div>
