.form-pots {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h2 {
    text-align: center;
  }
}

.select-size {
  padding: 7px 20px;
  margin: 10px 0;
  border: 1px solid;
  margin-right: 5px;
  cursor: pointer;
}
