
.task-information {

  height: 70px;

  h4 {
    font-size: 18px;
  }

  p{
    font-size: 18px;
  }

  span {
  padding: 0px;
  font-size: 18px;
  }
}

.bold-green {
  font-weight: bold;
  color: $green;
  font-size: 25px;
}

.plant_info {
  margin-bottom: 20px;
}

