.plant_info {
    margin-top: 60px;
    padding-top: 20px;
    font-size: 16px;
}

.task-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
